
-- 🛠️ Support for Pending Staff Assignments
ALTER TABLE public.orders 
ADD COLUMN IF NOT EXISTS pending_delivery_staff_id UUID REFERENCES public.company_invitations(id) ON DELETE SET NULL;

-- Comment for clarity
COMMENT ON COLUMN public.orders.pending_delivery_staff_id IS 'ID of the invitation if staff hasn''t joined yet';

